<div class="alert alert-@type">
    @message
    <button type="button" class="btn-close" @onclick="Fermer"></button>
</div>

@code {
    [Parameter]
    public string message { get; set; } = "";

    [Parameter]
    public string type { get; set; } = "info";

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task Fermer()
    {
        await OnClose.InvokeAsync();
    }
}
