@page "/demoHttpClient"
@using DemoComposants.Models

@inject HttpClient Http

<h3>DemoHttpClient</h3>

<h2>Liste d'utilisateurs depuis JSONPlaceholder</h2>

<div class="card mb-4">
    <div class="card-header">
        <h5>Créer un utilisateur (POST)</h5>
    </div>

    <div class="card-body">
        <div class="mb-3">
            <label>Nom</label>
            <input class="form-control" @bind="newUserName"/>
        </div>
        <div>
            <label>Email</label>
            <input class="form-control" @bind="newUserMail" />
        </div>
        <button class="btn btn-success" @onclick="CreateUser">
            + Créer
        </button>
        @if (!string.IsNullOrEmpty(createMessage))
        {
            <div class="alert alert-info mt-2">@createMessage</div>
        }
    </div>
</div>


@if (isLoading)
{
    <div class="d-flex align-items-center">
        <div class="spinner-border text-primary me-2"></div>
        <span>Chargement en cours....</span>
    </div>
    
}else if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in utilisateurs)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nom</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />



@code {
    private List<Utilisateur> utilisateurs = new List<Utilisateur>();
    private bool isLoading = true;
    private string errorMessage = "";

    private string newUserName = "";
    private string newUserMail = "";
    private string createMessage = "";

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        errorMessage = "";

        try
        {
            utilisateurs = await Http.GetFromJsonAsync <List<Utilisateur>>("users") ?? new();
        }
        catch (HttpRequestException)
        {
            errorMessage = "Impossible de contacter le serveur";
        }
        catch (Exception ex)
        {
            errorMessage = $"Erreur {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task CreateUser()
    {
        var nouvelUtilisateur = new Utilisateur
            {
                Nom = newUserName,
                Email = newUserMail
            };

        try
        {
            var response = await Http.PostAsJsonAsync("users", nouvelUtilisateur);
            if (response.IsSuccessStatusCode)
            {
                var utilisateurCree = await response.Content.ReadFromJsonAsync<Utilisateur>();
                createMessage = $"Utilisateur créé avec l'id : {utilisateurCree?.Id}";
                utilisateurs.Add(utilisateurCree);

                newUserName = "";
                newUserMail = "";
            }
            else
            {
                createMessage = "Erreur lors de la création !";
            }
        }
        catch (Exception ex)
        {
            createMessage = $"Erreur : {ex.Message}";
        }
    }
}
