@page "/demoCycleVie"

<h1>DemoCycleVie</h1>

<h2>Liste des utilisateurs</h2>

@if (isLoading)
{
    <div class="d-flex align-items-center">
        <div class="spinner-border text-primary me-2"></div>
        <span>Chargement en cours</span>
    </div>
}
else
{
    <ul>
        @foreach (var user in utilisateurs)
        {
            <li>@user</li>
        }
    </ul>
}






@code {
    private List<string> utilisateurs = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        await Task.Delay(3000);
        utilisateurs = new List<string>
        {
            "Alice",
            "Michel",
            "Charlie"
        };

        isLoading = false;
    }
}
