@page "/"

<PageTitle>Démonstration des Composants</PageTitle>

@* <h1>Démonstration des Composants</h1>

<Bouton />
<Bouton />
<Bouton /> *@

<h1>Composants avec params</h1>

<Bouton Texte="Ajouter" Couleur="success"/>
<Bouton Texte="Modifier" Couleur="warning" />
<Bouton Texte="Supprimer" Couleur="danger" />