@{
    var produits = new[]{"Ordinateur Portable",
        "Souris Sans Fil",
        "Clavier Mécanique",
        "Écran 4K",
        "Casque Audio"};
}

<ul>
    @foreach (var produit in produits)
    {
        <li>@produit</li>
}
</ul>
