

<PageTitle>Todo Liste</PageTitle>

<h1>Bienvenue dans TodoList Blazor</h1>

<p>Cette application va nous permettre de gérer nos tâches</p>

<div class="alert alert-info">
    <strong>Jour 1 :</strong> Apprendre les bases de blazor
</div>


